main {
    justify-content: flex-start;
}

main .title-page {
    padding-top: 6rem;
    padding-left: 6rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #F4AD02;
    /* font-style: italic; */
    font-size: 3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-decoration: underline #0098E1;
}

main .sub-title-page {
    padding-top: 1rem;
    padding-left: 6rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #ffffff;
    /* font-style: italic; */
    font-size: 1.8rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
    text-decoration: underline #0098E1;
}

.thesis-name {
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 2rem;
    padding: 1rem 2rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
    background-color: #F4AD02;
    color: #000022;
    margin: 2rem 6rem;
    border: 1px solid #0098E1;
    font-weight: 700;
}

.abstract {
    padding: 2rem 6rem;
    padding-top: 0;
    color: #ffffff;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    /* text-align: justify; */
}

.rep {
    text-decoration: none;
    font-size: 1.25rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: #F4AD02;
    padding-left: 6rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-decoration: underline #0098E1;
    padding-bottom: 2rem;
}

.supervise {
    font-size: 1.25rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 6rem;
    padding-bottom: 1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.supervise a {
    text-decoration: none;
    color: #F4AD02;
    letter-spacing: .2rem;
    text-decoration: underline #0098E1;
}

.skills {
    /* text-align: center; */
    padding: 1rem;
    margin-top: 1.5rem;
    /* margin-left: -1rem; */
    padding-bottom: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    font-family: 'Ubuntu Condensed', sans-serif;
    border: 1.5px solid #ffffff;
    color: #F4AD02;
    border-radius: 2px;
    display: inline-block;
    font-size: .8rem;
    margin: 0 1rem 1rem 0;
    padding: .8rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.research {
    padding-top: 3rem;
    /* padding-bottom: .25rem; */
}

.corpo {
    padding-top: 0;
    padding-bottom: .5rem;
}

.super-sub {
    font-size: 1.25rem !important;
    padding-bottom: .5rem !important;
}

.major {
    padding-bottom: .5rem;
}

.last {
    padding-bottom: 3rem;
}

.total-skills {
    display: flex;
    padding-bottom: 3rem;
    flex-wrap: wrap;
}

.icons {
    display: flex;
}

.fa-researchgate {
    color: #F4AD02;
    font-size: 40px;
    padding-left: 6rem;
    padding-bottom: 1rem;
}

.fas {
    color: #F4AD02;
    font-size: 40px;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

@media (max-width: 75rem) {
    .heading {
        font-size: 2.5rem;
        text-align: center;
        padding: 2rem;
        padding-top: 5rem;
        padding-bottom: 0;
    }
    main .title-page {
        padding: 4rem 2rem;
        padding-bottom: 1rem;
        text-align: center;
    }
    main .sub-title-page {
        padding: 2rem;
        text-align: center;
        padding-bottom: 1rem;
        font-size: 1.45rem;
    }
    .thesis-name {
        margin: 2rem;
    }
    .abstract {
        padding: 2rem;
        padding-top: 0;
    }
    .supervise,
    .rep {
        padding: 2rem;
    }
    .skills {
        padding-top: 1rem;
        padding: 2rem;
    }
    .fa-researchgate {
        padding-left: 2rem;
    }
}